.search {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: flex-end; */
  padding: 2rem 10rem;
}

.icon {
  fill: black;
  height: 3rem;
}

.form {
  display: flex;
  align-items: center;
}
